@model List<ForumPost>;
@{
    ViewData["Title"] = "Index";
}



<h1 class="display-4">Filter Forum Posts</h1>
<div>
    <form method="get" class="container">
        <div class="row p-2">
            <label for="Head" class="custom-control-label col-md-1">Search by Title</label>
            <input name="Head" class="form-control col-md-6" />
        </div>
        <div class="row p-2">
            <button type="submit" class="form-control btn btn-success col-2">Submit</button>
        </div>
    </form>

    <form method="get" class="container">
        <div class="row p-2">
            <label for="Date" class="custom-control-label col-md-1">Search by Date</label>
            <input name="Date" type="date" class="form-control col-md-6" />
        </div>
        <div class="row p-2">
            <button type="submit" class="form-control btn btn-success col-2">Submit</button>
            <a asp-action="Forum" class="btn btn-secondary col-3">Reset</a>
        </div>
    </form>
</div>


<h1 class="display-4">Forums</h1>
@if (@Model.Count > 0)
{
    <div class="container">
        <div class="col-md-3">
            <p class="h2">
                @Model[0].Head<br />
            </p>
            <p class="h5">
                by @Model[0].User<br />
            </p>
            @Model[0].Date.ToShortDateString()<br />
        </div>
        <hr>
        <div class="col-md-3">
            Rating: @Model[0].Rating.PostRating<br />
            URL: <a href="@Model[0].Rating.Url">@Model[0].Rating.Url</a><br />
        </div>
        <hr>
        <div class="col-md-10 bg-light">
            <p class="m-3">
                @Model[0].Body<br />
            </p>
        </div>
    </div>

    <hr />
    <hr />

    <div class="p-4">
        <p class="col-md-12">
            <a href="forum/forum" class="h1">Make a post!</a>
        </p>
    </div>
    

    <div class="container">
        <table>
            <tr style="background-color: #999999;">
                <th class="col-md-6">Title</th>
                <th class="col-md-4">User</th>
                <th class="col-md-2">Date</th>
            </tr>
            @for (int i=0; i<Model.Count; i++)
            {
                int j = Model.Count-i;

                <tr>
                    <td>
                        <a href="/forum/post?PostId=@j" class="h4">@Model[i].Head</a>
                    </td>
                    <td class="h6">
                        @Model[i].User
                    </td>
                    <td class="h6">
                        @Model[i].Date
                    </td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <p>Posts not found!</p>
}
